body {
  font-family: Arial;
  text-align: center;
  background: #1c1c1c;
  color: white;
}

#board {
  display: inline-block;
  margin: 20px auto;
  border: 4px solid #fff;
  border-radius: 15px;
  background: #964B00;
  position: relative;
}

canvas {
  background: #f5deb3;
  border-radius: 15px;
}

#scoreBox {
  font-size: 22px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #ffcc00;
  color: #000;
}

button:hover {
  background: #ffe066;
}
